#for master node: uncomment the following line if this is master node
addjar jar/rmiServer.jar
#turn off server side access control list checking for file manager 
#needed for gridgain compute master which starts a file manager
#for master node: uncomment the following line if this is master node
vmparam -DnoServerSideSecurity=true

#Example of properties that affect DC
#reduce amount of logging done by Ignite
#vmparam -DIGNITE_QUIET=true
#turn off performance suggestions from Ignite
#vmparam -DIGNITE_PERFORMANCE_SUGGESTIONS_DISABLED=true
#Its possible to override the default IgniteConfiguration used in WAT by providing an alternate configuration file.
#This would be needed at Amazon to configure a different Discovery mechanism.  Command to launch compute nodes would also change.
vmparam -DGridGainComputePlugin.configFile="C:\Programs\DC\default-config.xml"
#Also possible to override the workingDir. Specified directory needs to be big enough to hold study and results.
#Default working dir is %temp%\GridGainWorkingDir\ and usually doesn't need to be changed.  
#vmparam -DGridGainComputePlugin.workingDir="C:\temp\IgniteWorkingDir"
#Number of times to retry a job if it returns false without throwing an exception. Default 0 = Don't retry. -1 = Retry on every node.
#for master node: uncomment the following line if this is master node and you wish to retry compute jobs if/when they fail
#vmparam -DGridGainComputePlugin.retryCount=3
#Save successfully merged toMerge dss files (default = false)
#vmparam -DGridGainComputePlugin.saveMerge=false
#Distribute work by realization (default)
#vmparam -DsplitBy=realization
#Distribute work by lifecycle
#vmparam -DsplitBy=lifecycle
#A large DC can involve thousands of RmiFile objects. Interning the owner can save some memory.
#vmparam -DRmiFile.internOwner=true
vmparam -DMerge.IntegrityLevel=0

#logging to HEC-WAT\config\properties
#vmparam -Djava.util.logging.config.file=./config/properties/logging.properties
#Override check for convergence variable on compute
vmparam -DNoComputeConvergenceCheck=true
