#Add all jars that make up the distributed compute
addjar "C:\Programs\DC\Plugin\gridgaincompute.jar"
#add the gridgaincompute jar as a plugin so that it properly loads all of its features
addToPath PLUINS C:\Programs\DC\Plugin\

#Properties that affect DC
#Its possible to override the default IgniteConfiguration used in WAT by providing an alternate configuration file.
#This would be needed at Amazon to configure a different Discovery mechanism.  Command to launch compute nodes would also change.
vmparam -DGridGainComputePlugin.configFile="C:\Programs\DC\default-config.xml"
#Distribute work by lifecycle
vmparam -DsplitBy=lifecycle
#A large DC can involve thousands of RmiFile objects. Interning the owner can save some memory.
vmparam -DRmiFile.internOwner=true
#Ensure merge is highest integrity
vmparam -DMerge.IntegrityLevel=0
#This impacts the amount of RMI communication, turning this on reduces noise and has helped stabilize dc communication
vmparam -Dhec.rmi.server.NoClientSideProxies=true

#NON DC RELATED SETTINGS:
#Add any other jars that support the personal configuration for the project
#addjar C:\Programs\Plugins\InitialConditionsPlugin.jar
#add the plugins to the plugin path
#addToPath PLUGINS C:\Programs\Plugins\
